body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 1px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333;
}
.navbar ul li{
   list-style: none;
   display: inline-block;
   margin: 0 20px;
   position: relative ;
}
.navbar ul li a{
   text-decoration: none;
   color: white;
   text-transform: uppercase;
}
.navbar ul li::after{
   content: '';
   height: 3px;
   width: 0;
   background: red ;
   position: absolute;
   left: 0;
   bottom: -8px;
   transition: 0.3s;
}
.navbar ul li:hover::after{
   width: 100%;
}

img{
    display: block;
    width: 100%;
    height: auto;
}



h1, h2, h3{
    margin: 0;
    padding: 1em 0;
}

p{
    margin:0;
    padding: 1em 0;
}

button{
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid red;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: red;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
    z-index: 0;
}

#showcase{
    min-height: 450px;
}

#showcase .bg-image{
    position: absolute;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./Bilder/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.9;
}

#shocase h1{
    padding-top: 100px;
    padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap{
    padding: 0 1.5em;
}

/*section-a */

#section-a {
    background: #eaeaea;
    color: #333;
    padding-bottom: 2em;
}

/*section-b*/

#section-b{
    padding: 2em 1em 1em;
    background: #333;
}

#section-b ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-b li{
    margin-bottom: 1em;
    background: #fff;
    color: #333;
}

.card-content{
    padding: 1.5em;
}

/*section-c*/

#section-c{
    background: #fff;
    color:#333;
    padding: 2em;
}

/*footer*/

#main-footer{
    padding: 2em;
    background: #000;
    color:#fff;
    text-align: center;
}

#main-footer a{
    color: #2690d4;
    text-decoration: none;
}

/*Media queries*/

@media(min-width: 700px){
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr ;
    }

    #section-a .content-text{
        columns: 2;
        column-gap: 2em ;
    }

    #section-a  .content-text p{
        padding-top: 0;
    }

    .content-wrap, 
    #section-b ul{
        grid-column:  2/4;
    }

    .box, #main-footer div{
        grid-column: span 2;
    }
    
    #section-b ul{
        display: flex;
        justify-content: space-around;
    } 

    #section-b li{
        width: 31%;
    }
}
